.form {
  width: 60%;
  margin: 50px auto;
}

.form .text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.newtextarea {
  height: 100px;
  font-weight: 500;
  word-break: break-word;
}

.note-container {
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 15px 2px rgba(0, 0, 0, 0.3);
}

.main-spin {
  display: flex;
  justify-content: center;
}

.logout-btn {
  position: absolute !important;
  top: 40px;
  right: 20px;
}

.delete-account {
  text-align: center;
}

.badge {
  float: right;
  margin-top: 22px;
}

.switch-div {
  margin-top: 10px;
}

.switch-div > span {
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.switch-div label {
  margin-top: 2px;
}

.date {
  margin-top: 20px;
}
